.cartmain{
    width:95%;
    margin: auto;
    display: flex;
}
.cartitem{
    width:50%;
    display: grid;
    grid-template-columns: repeat(2,45%);
    grid-gap: 50px;
}

.prbtn1{
    padding: 5px;
    background-color:#dd0285 ;
    color: white;
    width:110px;
    border: none;
    border-radius: 5px;
}
.prbtn1:hover{
    padding: 5px;
    background-color:#e94dab ;
    color: white;
    width:110px;
    border: none;
    border-radius: 5px;
}
.cartinfo{
    width:30%;
    margin-left: 4%;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.prbtn3{
    padding: 5px;
    background-color:#dd0285 ;
    color: white;
    width:200px;
    border: none;
    border-radius: 10px;
}
.prbtn3:hover{
    padding: 5px;
    background-color:#e94dab ;
    color: white;
    width:200px;
    border: none;
    border-radius: 10px;
}
